* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #803034;
}
header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
  align-items: center;
  background-color: rgb(87, 0, 0);
}
li {
  list-style: none;
}
a:hover {
  color: #bbbbbb;
}
ul {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: #f5f5f5;
}
.titulo {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #df180e;
}
.logo {
  width: 30px;
  height: 30px;
}
.link {
  text-decoration: none;
  color: inherit;
}
